* {
  padding: 3px;
  margin: 0px;
  justify-content: center;
  font-family: 'Cinzel', serif;
}

.navbar {
  background: #adadad;
  background: linear-gradient(180deg, #adadad 0%, #ebebeb 50%, #adadad 100%); }

.nav-link {
  display: flex;
  color: #000000;
  text-decoration: none;
  border: #adadad 5px outset; }

.nav-link:hover {
  background-color: #929292;
  border: #adadad 5px inset; }


.centrado {
  text-align: center;
}



.card {
  background: linear-gradient(180deg, #adadad 0%, #ebebeb 50%, #adadad 100%);
}

.borde{
  border: #adadad 5px inset;}

.article2-div {
  border: 5px inset; }

.img-gym {
  width: 50%; }

.titulo-contacto {
  text-align: center; }

.section-contacto {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  align-items: center;
  text-align: center;
  border: #adadad 5px inset; }

.section-actividades {
  text-align: center; }

.section-productos {
  border: #adadad 5px outset;
  align-items: center;
  text-align: center;
}

.img-productos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #adadad 5px inset; }

.titulo-rutinas {
  text-align: center; }

.section-rutinas {
  text-align: center;
  border: #adadad 5px inset; }


/* Footer */

.footer {
  margin: 10px 10px;
  display: flex;
  justify-content: end;
  border: #adadad 5px inset;
  background: #adadad;
  background: linear-gradient(180deg, #adadad 0%, #ebebeb 50%, #adadad 100%); }

.div-footer {
  text-align: center; }



/* Mediaqueries */

@media (max-width: 360px) {
  .img-gym {
    max-width: 55%; }
  .link {
    max-width: 55%; }
  .img-actividades {
    max-width: 80%; }
  .video-rutina {
    max-width: 55%; }
  .img-productos {
    max-width: 80%; } }

@media (min-width: 361px) and (max-width: 768px) {
  .img-gym {
    max-width: 50%; }
  .link {
    max-width: 50%; }
  .img-actividades {
    max-width: 75%; }
  .video-rutina {
    max-width: 50%; }
  .img-productos {
    max-width: 75%; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .img-gym {
    max-width: 45%; }
  .link {
    max-width: 45%; }
  .img-actividades {
    max-width: 70%; }
  .video-rutina {
    max-width: 45%; }
  .img-productos {
    max-width: 70%; } }
