*{  
    padding: 5px;
    font-family: 'Cinzel', serif;
}

$colorborder: hsl(0, 0%, 68%);
$estiloborder: 5px inset;
$estiloborder2: 5px outset;
$colorbg: rgb(173,173,173);
$gradientebg: linear-gradient(180deg, rgba(173,173,173,1) 0%, rgba(235,235,235,1) 50%, rgba(173,173,173,1) 100%);
$color-nav: #000000;
$nav-bg: #929292;