.footer{
    margin: 10px 10px;
    display: flex;
    justify-content: end;
    border: #adadad 5px inset;
    background: rgb(173,173,173);
    background: linear-gradient(180deg, rgba(173,173,173,1) 0%, rgba(235,235,235,1) 50%, rgba(173,173,173,1) 100%);
}

.div-footer{
    text-align: center;
}