.titulo-contacto{
    text-align: center;
}
.section-contacto{
    display: grid;
    grid-template-columns: repeat(3,5fr);
    align-items: center;
    text-align: center;
    border: $colorborder $estiloborder;
}