.footer{
    margin: 10px 10px;
    display: flex;
    justify-content: end;
    border: $colorborder $estiloborder;
    background: $colorbg;
    background: $gradientebg;
}

.div-footer{
    text-align: center;
}